.recordCard {
    max-width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--spacing4);
    margin-top: var(--spacing3);

    header {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        
        > div {
            overflow: hidden;
        }

        h3, p {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        h3 {
            font-weight: bold;
        }
    }

    footer {
        ul {
            display: flex;
            align-items: center;
            gap: var(--spacing4);
        
            li:nth-child(n+2) {
                display: flex;
                align-items: center;
                gap: var(--spacing2);
            }
        }
    }
}