.recordCard {
    max-width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--spacing4);
    margin-top: var(--spacing3);

    header {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        gap: var(--spacing3);
        
        > div {
            overflow: hidden;
        }

        h3, p {
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: pretty;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }

        h3 {
            line-height: 1.2;
            font-weight: bold;
            line-clamp: 7;
            -webkit-line-clamp: 7;    
        }

        p {
            line-height: 1.2;
            line-clamp: 5;
            -webkit-line-clamp: 5;            
        }
    }

    footer {
        ul {
            display: flex;
            align-items: center;
            gap: var(--spacing4);
        
            li:nth-child(n+2) {
                display: flex;
                align-items: center;
                gap: var(--spacing2);
            }
        }
    }
}