.layout {
    height: 100%;
    display: grid;
    grid-template: 
    'header header header' auto
    'sidebar main main' 1fr
    'sidebar main main' 1fr / auto 1fr 1fr;
}

.header {
    grid-area: header;
}

.sideBar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
    padding: var(--spacing5);
}