aside.sideBar {
    padding: var(--spacing2);
    background-color: var(--color-base-300);
    height: 100%;

    nav > ul > li:nth-child(n + 2) {
        border-radius: var(--radius-field);

        &:hover {
            background-color: var(--color-primary);
        }

        a {
            display: flex;
            justify-items: center;
            align-items: center;
            gap: var(--spacing3);
            padding: var(--spacing2);
        }
    }

    @media screen and (min-width: 700px) {
        nav > ul > li:first-child {
            display: none;
        }

        &.collasped {
            .itemLabel {
                display: none;
            }
        } 
        
        &.show {
            .itemLabel {
                display: block;
            }
        }       
    }

    @media screen and (max-width: 700px) {
        z-index: 2;
        position: fixed;
        padding: var(--spacing4);

        li {
            margin-bottom: var(--spacing2);
        }

        nav > ul > li:first-child  {
            display: inline-block;
            cursor: pointer;
            padding-left: var(--spacing1);
        }

        &.collasped {
            opacity: 0;
            transform: translateX(-100%);
            .itemLabel {
                display: block;
            }
        } 
        
        &.show {
            opacity: 1;
            transition: 
                transform 0.2s linear,
                opacity 0.2s linear;

            .itemLabel {
                display: block;
            }
        }       
    }
}

.overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 700px) {
        &.show {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
        }
    }
}