.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 1%, 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.dialog {
    padding: var(--spacing4);
    background-color: var(--color-base-100);
    border-radius: var(--radius-box);
    border: none;

    > div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    > div:last-child  {
        display: flex;
        justify-content: center;
        gap: var(--spacing3)
    }
}