.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.editPage {
    padding-bottom: var(--spacing6);

    .inputContainer {
        min-height: 120px;
    }

    span {
        color: var(--color-error); 
    }

    > .editAction { 
        display: flex;
        gap: var(--spacing4);
        align-items: center;
        justify-content: space-between;

        > div {
            label {
                margin-right: var(--spacing3);
            }

            select {
                padding: var(--spacing2) var(--spacing3);
                border-radius: var(--radius-selector);
                color: var(--color-base-content);   
                background-color: var(--color-base-100);
                border: solid var(--color-base-content) var(--border);
                
                &:disabled {
                    filter: brightness(50%);
                }
            }
        }
    }

    input:disabled {
        filter: brightness(50%)
    }
}
